@font-face {
  font-family: "Product sans";
  font-weight: 400;
  src: url("./assets/product-sans/Product\ Sans\ Regular.ttf");
}

@font-face {
  font-family: "Product sans";
  font-weight: bold;
  src: url("./assets/product-sans/Product\ Sans\ Bold.ttf");
}

body {
  margin: 0;
  font-family: "Product sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}